@charset "utf-8";

body {
	background-image: url("./images/moviebg.png");
}

.banner {
	background-image: url("./images/rancidbannerbg.png");
	height: 50px;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px dimgray;
	font-size: 24pt;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", sans-serif;
}

.box {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	box-shadow: 10px 10px 5px gray;
	background-color: honeydew;
	margin-right: auto;
}

.box-banner {
	float: left;
	width: 550px;
	border-top-left-radius: 25px;
	background-image: url("./images/rottenlargebg.png");
	width: 550px;
}

.box-banner img {
	border-top-left-radius: 25px;
}

.box-banner-text {
	font-size: 48pt;
	font-family: sans-serif;
	color: red;
	position: relative;
	left: 110px;
	bottom: 90px;
}

.poster {
	float: left;
	width: 250px;
}

.poster img {
	border-top-right-radius: 25px;
}

.review {
	margin-top: -333px;
	width: 550px;
	height: 890px;
	float: left;
	background: lightgray;
	font-size: 10pt;
}

.review-right {
	float: left;
	margin-top: -5px;
}

.review-left {
	float: left;
	margin-top: -5px;
}

.review-box-left {
	width: 275px;
}

.review-box-right {
	width: 275px;
}

.review-box-section {
	border: 2px solid darkgray;
	border-radius: 20px;
	background-color: white;
	padding: 8px;
}

.review-people {
	margin-left: 10px;
	margin-top: -9px;
}

p img {
	margin-right: 5px;
	float: left;
}

.right-sidebar {
	width: 250px;
	float: right;
	height: 570px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.rigth-sidebar dd, dt {
	padding-left: 12px;
	padding-right: 12px;
}

dt {
	font-weight: bold;
	padding-top: 5px;
}

dd {
	padding-left: 12px;
	padding-right: 12px;
}

ul {
	margin-left: -40px;
	margin-top: -1px;
}

li {
	list-style-type: none;
}

.footer {
	background-color: darkseagreen;
	border-radius: 25px;
	text-align: center;
	height: 1010px;
}