@CHARSET "UTF-8";

body {
	background-color: #DADED1;
}

.banner {
	/*text-align: center;*/
	background-image: url("./imgaes/ranchidbannerbg.png");
	height: 50px;
	width: 1000px;
}

h1 {
	text-align: center;
	text-shadow: 2px 2px #696969;
}

.box {
	width: 800px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 10px 10px 5px gray;
	text-align: center;
	text-align: center;
}

.box-banner {
	background-image: url("./imgaes/rottenlargebg.png");
}

.box-banner img {
	text-align: left;
}