body{
    background-color: whitesmoke;
}

table, th, td {
    border: 3px solid cornflowerblue;
    border-collapse: collapse;
}

th {
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
    text-align: left;
}